<!DOCTYPE html>
<html>
<head>
    <title>About jammiGuard</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-image: url('/static/landing_page/images/nairobi.png');
            background-size: cover;
            color: #fff;
            text-align: center;
            padding: 100px 0;
        }

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 18px;
        }

        .content {
            text-align: center;
            padding: 50px 0;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .card {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .cta-button {
            background-color: #007BFF;
            color: #fff;
            font-size: 20px;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <header>
	    <div class="navbar">
		    <a href="#features">Features</a>
		    <a href="#about">About</a>
	    </div>
        <h1>jammiGuard</h1>
        <p>Your Trusted Crime Reporting and Monitoring App</p>
	<br />
            <a href="http://127.0.0.1:8000/" class="cta-button">jammiGuard</a>
    </header>

    <div class="card" style="background-color: rgb(189, 100, 115);">
        <div class="content">
            <h2>My story</h2>
            <p>
My name is Edwin Karanja, and my journey as a developer has been an exciting one. I officially embarked on this path early this year when I joined ALX, and it's been roughly 8 months since then. Looking back, it's fascinating to see how my passion for technology and coding has evolved over time.

Ever since I was a kid, I had a natural inclination to disassemble and fix things. I was the go-to person in my family and among friends when something electronic or mechanical needed repair. I loved the thrill of understanding how things worked and the satisfaction of bringing them back to life. Little did I know that this early interest would lay the foundation for my future as a developer.

It was when I joined ALX's software programming program that everything changed for me. I discovered a new and profound interest in coding. It was like a whole new world opened up to me, filled with endless possibilities and challenges waiting to be tackled.

Throughout my journey, I've had the opportunity to learn a wide range of programming languages and tools, including C, Python, and DevOps practices. These learning experiences have been both challenging and rewarding. I've been exposed to the art of problem-solving, logical thinking, and the creativity that comes with crafting code.

The ALX community has been instrumental in my growth as a developer. I've connected with like-minded individuals who share my passion and have mentors to guide me along the way. The support and camaraderie within this community have been invaluable in keeping me motivated and focused.

As I continue on this journey, I look forward to exploring new technologies, working on exciting projects, and contributing to the ever-evolving world of software development. Every day brings new opportunities to learn, and I'm eager to embrace them all as I continue to build my skills and make a positive impact in the world of technology.
	    </p>
        </div>
    </div>

    <div class="card" style="background-color: rgb(95, 199, 240);">
        <div class="content" id="about">
            <h2>Project Inspiration</h2>
            <p>
"I've spent the last three to four weeks dedicated to the creation of 'jammiGuard - Your Trusted Crime Reporting and Monitoring App.' This project has been a challenging yet rewarding journey. I embarked on this mission with a deep desire to build something profound that would not only showcase my skills but also serve as a contribution to the community.

Through extensive contemplation, the idea for 'jammiGuard' was born. I recognized the need for a reliable crime reporting and monitoring platform that empowers individuals to take an active role in enhancing neighborhood safety. Many crimes go unreported, and newcomers to an area often lack resources to stay informed about local incidents. 'jammiGuard' aims to bridge these gaps.

This project has been a great learning experience, and I'm thankful for the knowledge and tools I've gained from Holberton School, which have equipped me to venture into the field with confidence.

This journey has been a testament to my resilience and determination, and I'm proud of how far I've come. I believe 'jammiGuard' is a valuable contribution to the community, offering an essential resource for individuals to report and monitor crimes while fostering safer neighborhoods.

Thank you for being a part of this journey, and I'm excited to continue improving and expanding 'jammiGuard' to benefit even more people."
	    </p>
        </div>
    </div>

    <div class="card" style="background-color: rgba(90, 78, 82, 0.733);">
	<div class="row g-0">
	<div class="col-md-4">
        <div class="features">
	<div class="feature" id="features">
		<img src="/static/landing_page/images/index.png" alt="Real-time Reporting">
	</div>
	 <div class="col-md-8">
         <div class="card-body">
		<h3 class="card-title">Real-time Reporting</h3>
                <p class="card-text">Report and monitor crime incidents in real-time. Stay updated on the latest incidents as they happen, allowing for quicker response and enhanced safety.
		</p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <div class="card" style="background-color: rgba(90, 78, 82, 0.733);">
        <div class="features">
        <div class="feature">
          <div class="row g-0">
    	<div class="col-md-4">
            <img src="/static/landing_page/images/use.png" class="img-fluid rounded-start"alt="Enhanced Safety">
         </div>
         <div class="col-md-8">
      <div class="card-body">
      <h2 class="card-title">Enhansed Safety</h2>
                <p class="card-text">Contribute to a safer neighborhood with jammiGuard. By reporting and monitoring incidents, you play a vital role in improving safety and security in your community.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>



    <div class="card" style="background-color: rgb(95, 199, 240);">
      <div class="row g-0">
    	<div class="col-md-4">
    	 <img src="/static/landing_page/images/social.jpg" class="img-fluid rounded-start" alt="...">
    	  </div>
    	  <div class="col-md-8">
      <div class="card-body">
              <h2 class="card-title">Team Members</h2>
            <p class="card-text">Links to Edwin Karanja ' LinkedIn, GitHub, and Twitter profiles.
            </p>
        </div>
    </div>
    </div>
    </div>


    <div class="card" style="background-color: rgb(95, 199, 240);">
      <div class="row g-0">
    <div class="col-md-4">
<img src="/static/landing_page/images/Github.png" class="img-fluid rounded-start" alt="...">
</div>
    <div class="col-md-8">
      <div class="card-body">
              <h2 class="card-title">Card title</h2>
            <p class="card-text">A link to the project's GitHub repository.</p>
        </div>
    </div>
      </div>
    </div>


<div class="card" style="background-color: rgb(189, 100, 115);">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/landing_page/images/myApp.png" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="http://127.0.0.1:8000/" class="cta-button">jammiGuard</a>
		<p class="card-text">Discover jammiGuard, your trusted crime reporting and monitoring app.Report incidents in real-time, and enhance neighborhood safety.
		</p>
      </div>
    </div>
  </div>
</div>

</body>
</html>

