<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>jammiGuard_about</title>
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand mr-4" href="/">
              <img src="/static/crime/images/jammiGuard_logo.png" width="200" height="45">
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" class="container-fluid">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/about">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else%}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
    <div class="container-fluid">
        <section class="sub-about">
            <div id="content" class="helpContent">
                <br />
                <p> 
                    Welcome to JammiGuard, a community-driven crime reporting and monitoring platform designed to enhance safety and security in Kenya. 
                    At JammiGuard, we are committed to creating a space where individuals can come together to share and access vital information about crime incidents.
                    Our platform empowers users to report incidents, view crime statistics, and contribute to making our communities safer.
                </p>
                <em class="sub-heading">Our Mission:</em>
                <br />
                <p>
                    Our mission is clear: to harness the collective strength of the community to combat crime and create safer neighborhoods. 
                    We believe that everyone has the right to live in a secure environment, and we're dedicated to achieving that through collaboration and the sharing of critical information.
                </p>
                <br />
                <p>
                    At JammiGuard, we understand the importance of reporting crime incidents promptly. We've made it easy for you to share details of criminal activities, ensuring that both the community and law enforcement are informed.
                    By reporting incidents, you play a pivotal role in keeping our streets safe.
                </p>
                <br />
                <p>
                    Our platform also provides comprehensive crime statistics, giving you a clear picture of the safety situation in your area.
                    Stay informed about the types of crimes reported, their frequency, and their locations.
                    We believe that access to such data empowers you to make informed decisions regarding your safety.
                </p>
                <br />
                <p>
                    What sets JammiGuard apart is its community-driven nature. 
                    We encourage users to actively engage with the platform, share insights, and promote best practices for crime prevention.
                    Your involvement strengthens the network, making it more effective in the fight against crime.
                </p>
                <br />
                <em class="sub-heading">Privacy and Security</em>
                <p>
                    Your safety and privacy are of utmost importance to us. We take stringent measures to protect your personal information and maintain your confidentiality.
                    Our platform is designed with advanced security features to ensure a secure user experience.
                </p>
                <br />
                <em class="sub-heading">Join Us Today</em>
                <p>
                    JammiGuard is not just a platform; it's a movement. We invite you to join us in our mission to create safer communities in Kenya. 
                    By becoming a part of our community, you're contributing to the greater good and making a real impact on the safety of your neighborhoods.
                </p>
                <em class="sub-heading">Contact Us:</em>
                <p>
                    If you have any questions, suggestions, or feedback, we'd love to hear from you. Feel free to reach out to our dedicated support team via the "Contact Us" page.
                    Your input is invaluable to us as we continue to improve and expand our services.
                </p>
        
                <br />
                <hr class="profile" />
                <p style="font-size:10px; color:#b7b7b7;"><em>CrimeMapping.com Version OCPD-EC  (2.5.2.0) (JS: 2.4.1.2)</em>
                    jammiGuard.com has been developed by <a class="red" href="https://www.linkedin.com/in/edwin-karanja-28aab6253/">Edwin karanja</a></p>
                </div>
        </section>
    </div>
</body>