{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'crime/main.css' %}">
    {% if title %}
    <title>jammiGuard - {{ title }} </title>
    {% else %}
        <title>jammiGuard</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand mr-4" href="/">
              <img src="/static/crime/images/jammiGuard_logo14.png" width="100" height="35">
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" class="container-fluid">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
              <div class="navbar-nav mr-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/about">About</a>
              </div>
              <!-- Navbar Right Side -->
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                  <a class="nav-item nav-link" href="{% url 'add_crime_incident' %}">Report A Crime</a>
                  <a class="nav-item nav-link" href="{% url 'profile' %}">profile</a>
                  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                {% else%}
                  <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                  <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <main role="main" class="container-fluid border bg-dark">
        <div class="row">
          <div class="col-12 col-lg-8">
            {% block content %}{% endblock %}
            </br >
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">How to Use the Interactive Map</h5>
                  <ol>
                      <li>Click on a custom icon on the map to view information about a specific crime incident. ✅</li>
                      <li>Use the search bar to find a specific location and center the map on it. 🔍</li>
                      <li>Zoom in and out to explore different areas and incidents. 🕵</li>
                  </ol>
              </div>
          </div>          
          </div>
          <div class="col-12 col-lg-4">
            <div class="content-section">
              <h3>Welcome To jammiGuard</h3>
              <p class="text-muted">
                <!-- Modify or add content as needed -->
                {% if user.is_authenticated %}
                <p>Help To Locate MoRe Crimes By Filling Our ReportCrimePage</p>
        
                {% else%}
                <p>Your Kenyan Safety Partner..</p>
                <p>Contribute to our community safety by reporting incidents and sharing information. Together, we shape the data that empowers our community.</p>
                  <a class="btn btn-outline-light" href="/register" disabled>Sign up</a>
                {% endif %}
              </p>
              <h3>Lately Reported Incidents</h3>
              <div class="card text-bg-dark" style="max-width: 500px;">
                <div class="card-body">
                    <img src="static/crime/images/crime.jpg" class="card-img" alt="Composition Of Crimes By Type Over Time">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-numbered">
                                <!-- Add your latest crime data here (e.g., crimes 1-4) -->
                                {% for crime in latest_crimes%}
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto">
                                            <div class="fw-bold">{{ crime.crimetype }}</div>
                                            {{ crime.location }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group">
                                <!-- Add your latest crime data here (e.g., crimes 5-8) -->
                                    <li class="list-item d-flex">
                                      <p>Location With Highest Crimes ({{ highest_crime_location }})</p>
                                    </li>
                                  <li>
                                    <p>With ({{ highest_crime_count}}) Reported Crimes</p>
                                  </li>
                                  <li>
                                    <p>({{most_reported_crime_in_highest_location}}) Being Most Reported Crime</p>
                                  </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>                      
                  <h3>Reported Incidents Over Time</h3>
                  <div class="card text-bg-dark">
                    <img src="static/crime/images/stacked_area_chart.png" class="card-img" alt="Compossition Of Crimes By Type Over Time">
                  </div>
              </ul>
            </div>
          </div>
        </div>
      </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>