{% extends "crime/base.html" %}
{% block content %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder@1.13.0/dist/Control.Geocoder.css" />
    <style>
    </style>
    <div id="map"></div>
    <div id="crime-data" data-crime="{{ crime_data|safe }}">
    </div>
    <script>
        var map = L.map('map').setView([-1.038921781851376, 37.083836734420956], 15);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        var crime_data = {{ crime_data|safe }};
        
        // custom icons for different crime types
        var icons = {
            Burglary: L.icon({
                iconUrl: '/static/crime/images/heist.png',
                iconSize: [50, 50],
            }),
            Arrest: L.icon({
                iconUrl: '/static/crime/images/handcuffs.png',
                iconSize: [50, 50],
            }),
            Assault: L.icon({
                iconUrl: '/static/crime/images/conflict.png',
                iconSize: [50, 50],
            }),
            Other: L.icon({
                iconUrl: '/static/crime/images/crime-scene.png',
                iconSize: [50, 50],
            }),
            Vandalism: L.icon({
                iconUrl: '/static/crime/images/man.png',
                iconSize: [50, 50],
            }),
            phone_Theft: L.icon({
                iconUrl: '/static/crime/images/phone.png',
                iconSize: [70, 70],
            }),
            Theft: L.icon({
                iconUrl: '/static/crime/images/thief.png',
                iconSize: [50, 50],
            }),
            Gun_crime: L.icon({
                iconUrl: '/static/crime/images/guns.png',
                iconSize: [50, 50],
            }),
            Fraud: L.icon({
                iconUrl: '/static/crime/images/fake.png',
                iconSize: [50, 50],
            }),
            Robbery: L.icon({
                iconUrl: '/static/crime/images/robbery.png',
                iconSize: [50, 50],
            })
};

// Loop through the crime data and add markers with custom icons to the map
crime_data.forEach(function (crime) {
    // Check if the crime type has a corresponding custom icon
    if (icons.hasOwnProperty(crime.crime_type)) {
        var marker = L.marker([crime.latitude, crime.longitude], { icon: icons[crime.crime_type] });
        var popupContent = `<strong>${crime.crime_type}</strong><a href="${crime.crime_details_url}">Information</a>`;
        marker.bindPopup(popupContent);
        marker.addTo(map);
    } else {
        // Use a default marker if the crime type doesn't have a custom icon
        var defaultMarker = L.marker([crime.latitude, crime.longitude]);
        var popupContent = `<strong>${crime.crime_type}</strong><a href="${crime.crime_details_url}">More Information</a>`;
        defaultMarker.bindPopup(popupContent);
        defaultMarker.addTo(map);
    }
});


        // Add search control
        var searchControl = L.Control.geocoder({
        }).addTo(map);

        // Add search functionality
        document.getElementById('search-button').addEventListener('click', function () {
            var location = document.getElementById('location-input').value;
            searchControl.geocode(location, function (results) {
                if (results.length > 0) {
                    var latLng = results[0].center;
                    map.setView(latLng, 15);
                } else {
                    alert('Location not found');
                }
            });
        });
    </script>
</style>
{% endblock content %}

